/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-container h1 {
  font-size: 23px;
  margin-top: 60px;
}
.image-list {
  margin: 20px auto;
}
.list-member{
  svg {
    height: 100px;
    width: 100px
  }
}
#mapContainer {
  margin-bottom: 40px;
}
