// Graphical variables
/*
*= require commontator/application
*/
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.description {
	font-weight: lighter;
    color: #AAAAAA;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.5;
}

.card-address {
	font-weight: lighter;
    color: #AAAAAA;
    font-size: 12px;
    margin-top: 0px;
}