<?xml version="1.0" encoding="UTF-8"?>
<svg width="102px" height="99px" viewBox="0 0 102 99" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-153.000000, -284.000000)">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(153.000000, 154.000000)" id="Shape">
                    <g>
                        <path d="M75.251,0.71 C66.851,0.71 59.382,4.678 54.602,10.836 C51.32,8.972 47.529,7.901 43.485,7.901 C36.472,7.901 30.209,11.104 26.076,16.126 C24.141,15.459 22.066,15.092 19.903,15.092 C9.441,15.092 0.96,23.573 0.96,34.035 C0.96,44.497 9.441,52.978 19.903,52.978 L43.485,52.978 L75.251,52.978 C89.684,52.978 101.384,41.278 101.384,26.844 C101.384,12.41 89.684,0.71 75.251,0.71 L75.251,0.71 Z" fill="#FFFFFF"></path>
                        <path d="M75.251,7.708 C85.802,7.708 94.386,16.292 94.386,26.843 C94.386,37.394 85.802,45.978 75.251,45.978 L43.485,45.978 L19.903,45.978 C13.317,45.978 7.958,40.62 7.958,34.034 C7.958,27.448 13.316,22.09 19.903,22.09 C21.23,22.09 22.54,22.309 23.796,22.742 L28.391,24.325 L31.48,20.572 C34.448,16.966 38.824,14.898 43.486,14.898 C46.169,14.898 48.818,15.597 51.146,16.919 L56.415,19.912 L60.131,15.125 C63.79,10.412 69.301,7.708 75.251,7.708 L75.251,7.708 Z M75.251,0.71 C66.851,0.71 59.382,4.678 54.602,10.836 C51.32,8.972 47.529,7.901 43.485,7.901 C36.473,7.901 30.209,11.104 26.076,16.126 C24.14,15.459 22.066,15.092 19.903,15.092 C9.441,15.092 0.96,23.573 0.96,34.035 C0.96,44.497 9.441,52.978 19.903,52.978 L43.485,52.978 L75.251,52.978 C89.684,52.978 101.384,41.278 101.384,26.844 C101.384,12.41 89.684,0.71 75.251,0.71 L75.251,0.71 L75.251,0.71 Z" fill="#9E9E9E"></path>
                    </g>
                    <g transform="translate(14.000000, 54.000000)" fill="#00B0FF">
                        <g>
                            <path d="M2.531,20.031 C1.178,20.031 0.082,18.935 0.082,17.582 L0.082,3.189 C0.082,1.836 1.179,0.74 2.531,0.74 C3.883,0.74 4.98,1.837 4.98,3.189 L4.98,17.582 C4.981,18.934 3.884,20.031 2.531,20.031 L2.531,20.031 Z"></path>
                            <path d="M19.852,20.031 C18.499,20.031 17.403,18.935 17.403,17.582 L17.403,3.189 C17.403,1.836 18.499,0.74 19.852,0.74 C21.205,0.74 22.301,1.837 22.301,3.189 L22.301,17.582 C22.301,18.934 21.205,20.031 19.852,20.031 L19.852,20.031 Z"></path>
                            <path d="M37.172,20.031 C35.819,20.031 34.723,18.935 34.723,17.582 L34.723,3.189 C34.723,1.836 35.82,0.74 37.172,0.74 C38.525,0.74 39.621,1.837 39.621,3.189 L39.621,17.582 C39.622,18.934 38.525,20.031 37.172,20.031 L37.172,20.031 Z"></path>
                            <path d="M54.493,20.031 C53.14,20.031 52.044,18.935 52.044,17.582 L52.044,3.189 C52.044,1.836 53.141,0.74 54.493,0.74 C55.846,0.74 56.942,1.837 56.942,3.189 L56.942,17.582 C56.942,18.934 55.846,20.031 54.493,20.031 L54.493,20.031 Z"></path>
                            <path d="M71.814,20.031 C70.461,20.031 69.365,18.935 69.365,17.582 L69.365,3.189 C69.365,1.836 70.461,0.74 71.814,0.74 C73.167,0.74 74.263,1.837 74.263,3.189 L74.263,17.582 C74.263,18.934 73.166,20.031 71.814,20.031 L71.814,20.031 Z"></path>
                        </g>
                        <g transform="translate(8.000000, 12.000000)">
                            <path d="M3.192,19.978 C1.839,19.978 0.743,18.881 0.743,17.529 L0.743,3.136 C0.743,1.783 1.84,0.687 3.192,0.687 C4.544,0.687 5.641,1.783 5.641,3.136 L5.641,17.529 C5.641,18.881 4.544,19.978 3.192,19.978 L3.192,19.978 Z"></path>
                            <path d="M20.512,19.978 C19.159,19.978 18.063,18.881 18.063,17.529 L18.063,3.136 C18.063,1.783 19.16,0.687 20.512,0.687 C21.865,0.687 22.961,1.783 22.961,3.136 L22.961,17.529 C22.961,18.881 21.865,19.978 20.512,19.978 L20.512,19.978 Z"></path>
                            <path d="M37.833,19.978 C36.48,19.978 35.384,18.881 35.384,17.529 L35.384,3.136 C35.384,1.783 36.48,0.687 37.833,0.687 C39.186,0.687 40.282,1.783 40.282,3.136 L40.282,17.529 C40.282,18.881 39.185,19.978 37.833,19.978 L37.833,19.978 Z"></path>
                            <path d="M55.153,19.978 C53.8,19.978 52.704,18.881 52.704,17.529 L52.704,3.136 C52.704,1.783 53.801,0.687 55.153,0.687 C56.506,0.687 57.602,1.783 57.602,3.136 L57.602,17.529 C57.603,18.881 56.506,19.978 55.153,19.978 L55.153,19.978 Z"></path>
                        </g>
                        <g transform="translate(17.000000, 24.000000)">
                            <path d="M2.852,20.188 C1.499,20.188 0.403,19.091 0.403,17.739 L0.403,3.346 C0.403,1.993 1.499,0.897 2.852,0.897 C4.205,0.897 5.301,1.994 5.301,3.346 L5.301,17.739 C5.301,19.091 4.205,20.188 2.852,20.188 L2.852,20.188 Z"></path>
                            <path d="M20.172,20.188 C18.819,20.188 17.723,19.091 17.723,17.739 L17.723,3.346 C17.723,1.993 18.82,0.897 20.172,0.897 C21.525,0.897 22.621,1.994 22.621,3.346 L22.621,17.739 C22.622,19.091 21.525,20.188 20.172,20.188 L20.172,20.188 Z"></path>
                            <path d="M37.493,20.188 C36.14,20.188 35.044,19.091 35.044,17.739 L35.044,3.346 C35.044,1.993 36.141,0.897 37.493,0.897 C38.846,0.897 39.942,1.994 39.942,3.346 L39.942,17.739 C39.942,19.091 38.846,20.188 37.493,20.188 L37.493,20.188 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>