<?xml version="1.0" encoding="UTF-8"?>
<svg width="35px" height="87px" viewBox="0 0 35 87" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-650.000000, -291.000000)" fill="#01579B">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(650.000000, 161.000000)">
                    <path d="M17.808,86.359 C8.511,86.359 0.947,78.795 0.947,69.498 C0.947,63.924 3.746,58.695 8.328,55.57 L8.328,9.759 C8.328,4.532 12.581,0.279 17.808,0.279 C23.035,0.279 27.288,4.532 27.288,9.759 L27.288,55.57 C31.87,58.695 34.669,63.924 34.669,69.498 C34.67,78.795 27.105,86.359 17.808,86.359 L17.808,86.359 Z M17.808,4.477 C14.896,4.477 12.527,6.846 12.527,9.758 L12.527,57.937 L11.48,58.544 C7.573,60.807 5.146,65.004 5.146,69.497 C5.146,76.479 10.826,82.159 17.808,82.159 C24.79,82.159 30.47,76.479 30.47,69.497 C30.47,65.004 28.043,60.806 24.136,58.544 L23.089,57.937 L23.089,9.758 C23.09,6.846 20.72,4.477 17.808,4.477 L17.808,4.477 Z" id="Shape"></path>
                    <path d="M25.189,24.094 L17.808,24.094 C16.648,24.094 15.709,23.154 15.709,21.994 C15.709,20.835 16.649,19.895 17.808,19.895 L25.189,19.895 C26.349,19.895 27.288,20.835 27.288,21.994 C27.289,23.154 26.349,24.094 25.189,24.094 L25.189,24.094 Z" id="Shape"></path>
                    <path d="M25.189,33.755 L17.808,33.755 C16.648,33.755 15.709,32.815 15.709,31.656 C15.709,30.497 16.649,29.557 17.808,29.557 L25.189,29.557 C26.349,29.557 27.288,30.497 27.288,31.656 C27.289,32.815 26.349,33.755 25.189,33.755 L25.189,33.755 Z" id="Shape"></path>
                    <path d="M25.189,43.417 L17.808,43.417 C16.648,43.417 15.709,42.477 15.709,41.318 C15.709,40.159 16.649,39.218 17.808,39.218 L25.189,39.218 C26.349,39.218 27.288,40.158 27.288,41.318 C27.289,42.477 26.349,43.417 25.189,43.417 L25.189,43.417 Z" id="Shape"></path>
                    <circle id="Oval" cx="17.808" cy="69.212" r="7.381"></circle>
                    <path d="M17.808,71.311 C16.648,71.311 15.709,70.371 15.709,69.212 L15.709,49.85 C15.709,48.691 16.649,47.751 17.808,47.751 C18.968,47.751 19.907,48.691 19.907,49.85 L19.907,69.211 C19.908,70.371 18.968,71.311 17.808,71.311 L17.808,71.311 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>