<?xml version="1.0" encoding="UTF-8"?>
<svg width="35px" height="87px" viewBox="0 0 35 87" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-650.000000, -445.000000)" fill="#D50000">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(650.000000, 315.000000)">
                    <path d="M17.808,86.319 C8.511,86.319 0.947,78.755 0.947,69.458 C0.947,63.885 3.746,58.655 8.328,55.53 L8.328,9.719 C8.328,4.492 12.581,0.239 17.808,0.239 C23.035,0.239 27.288,4.492 27.288,9.719 L27.288,55.53 C31.87,58.655 34.669,63.885 34.669,69.458 C34.67,78.755 27.105,86.319 17.808,86.319 L17.808,86.319 Z M17.808,4.437 C14.896,4.437 12.527,6.806 12.527,9.718 L12.527,57.897 L11.48,58.503 C7.573,60.766 5.146,64.963 5.146,69.457 C5.146,76.439 10.826,82.119 17.808,82.119 C24.79,82.119 30.47,76.438 30.47,69.457 C30.47,64.964 28.043,60.766 24.136,58.503 L23.089,57.897 L23.089,9.718 C23.09,6.807 20.72,4.437 17.808,4.437 L17.808,4.437 Z" id="Shape"></path>
                    <path d="M25.189,24.054 L17.808,24.054 C16.648,24.054 15.709,23.114 15.709,21.955 C15.709,20.795 16.649,19.856 17.808,19.856 L25.189,19.856 C26.349,19.856 27.288,20.796 27.288,21.955 C27.289,23.115 26.349,24.054 25.189,24.054 L25.189,24.054 Z" id="Shape"></path>
                    <path d="M25.189,33.715 L17.808,33.715 C16.648,33.715 15.709,32.775 15.709,31.615 C15.709,30.455 16.649,29.516 17.808,29.516 L25.189,29.516 C26.349,29.516 27.288,30.456 27.288,31.615 C27.289,32.775 26.349,33.715 25.189,33.715 L25.189,33.715 Z" id="Shape"></path>
                    <path d="M25.189,43.377 L17.808,43.377 C16.648,43.377 15.709,42.437 15.709,41.278 C15.709,40.118 16.649,39.179 17.808,39.179 L25.189,39.179 C26.349,39.179 27.288,40.119 27.288,41.278 C27.289,42.437 26.349,43.377 25.189,43.377 L25.189,43.377 Z" id="Shape"></path>
                    <circle id="Oval" cx="17.808" cy="69.172" r="7.381"></circle>
                    <path d="M17.808,71.271 C16.648,71.271 15.709,70.331 15.709,69.172 L15.709,49.811 C15.709,48.651 16.649,47.712 17.808,47.712 C18.968,47.712 19.907,48.652 19.907,49.811 L19.907,69.172 C19.908,70.332 18.968,71.271 17.808,71.271 L17.808,71.271 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>