<?xml version="1.0" encoding="UTF-8"?>
<svg width="116px" height="101px" viewBox="0 0 116 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-155.000000, -130.000000)">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(155.000000, 0.000000)">
                    <g fill="#FFFF00">
                        <circle id="Oval" cx="51.161" cy="50.358" r="32.425"></circle>
                        <path d="M53.96,12.685 C53.96,13.394 52.81,13.968 51.394,13.968 L51.394,13.968 C49.977,13.968 48.827,13.394 48.827,12.685 L48.827,1.426 C48.827,0.717 49.977,0.143 51.394,0.143 L51.394,0.143 C52.81,0.143 53.96,0.717 53.96,1.426 L53.96,12.685 L53.96,12.685 Z" id="Shape"></path>
                        <path d="M79.78,25.698 C79.279,26.199 78.06,25.792 77.059,24.791 L77.059,24.791 C76.056,23.789 75.65,22.57 76.151,22.069 L84.112,14.108 C84.613,13.607 85.832,14.014 86.834,15.016 L86.834,15.016 C87.835,16.017 88.242,17.236 87.741,17.737 L79.78,25.698 L79.78,25.698 Z" id="Shape"></path>
                        <path d="M88.835,53.158 C88.126,53.158 87.552,52.008 87.552,50.592 L87.552,50.592 C87.552,49.175 88.126,48.025 88.835,48.025 L100.094,48.025 C100.803,48.025 101.377,49.175 101.377,50.592 L101.377,50.592 C101.377,52.008 100.803,53.158 100.094,53.158 L88.835,53.158 L88.835,53.158 Z" id="Shape"></path>
                        <path d="M75.821,78.977 C75.32,78.476 75.727,77.257 76.728,76.256 L76.728,76.256 C77.73,75.253 78.949,74.847 79.45,75.348 L87.411,83.309 C87.912,83.81 87.505,85.029 86.503,86.031 L86.503,86.031 C85.502,87.032 84.283,87.439 83.782,86.938 L75.821,78.977 L75.821,78.977 Z" id="Shape"></path>
                        <path d="M48.361,88.032 C48.361,87.323 49.51,86.749 50.926,86.749 L50.926,86.749 C52.343,86.749 53.493,87.323 53.493,88.032 L53.493,99.291 C53.493,100 52.343,100.574 50.926,100.574 L50.926,100.574 C49.51,100.574 48.361,100 48.361,99.291 L48.361,88.032 L48.361,88.032 Z" id="Shape"></path>
                        <path d="M22.542,75.019 C23.043,74.518 24.262,74.925 25.263,75.926 L25.263,75.926 C26.265,76.928 26.672,78.147 26.171,78.648 L18.21,86.609 C17.709,87.11 16.49,86.703 15.488,85.701 L15.488,85.701 C14.487,84.7 14.08,83.481 14.581,82.98 L22.542,75.019 L22.542,75.019 Z" id="Shape"></path>
                        <path d="M13.487,47.559 C14.196,47.559 14.77,48.708 14.77,50.124 L14.77,50.124 C14.77,51.541 14.196,52.691 13.487,52.691 L2.228,52.691 C1.519,52.691 0.945,51.541 0.945,50.124 L0.945,50.124 C0.945,48.708 1.519,47.559 2.228,47.559 L13.487,47.559 L13.487,47.559 Z" id="Shape"></path>
                        <path d="M26.501,21.74 C27.002,22.241 26.595,23.46 25.594,24.461 L25.594,24.461 C24.592,25.463 23.373,25.87 22.872,25.369 L14.911,17.408 C14.41,16.907 14.817,15.688 15.819,14.686 L15.819,14.686 C16.82,13.685 18.039,13.278 18.54,13.779 L26.501,21.74 L26.501,21.74 Z" id="Shape"></path>
                    </g>
                    <g transform="translate(50.000000, 33.000000)" id="Shape">
                        <path d="M48.713,0.301 C43.296,0.301 38.48,2.86 35.396,6.831 C33.28,5.629 30.835,4.939 28.227,4.939 C23.705,4.939 19.665,7.004 17,10.242 C15.752,9.812 14.414,9.575 13.019,9.575 C6.273,9.575 0.804,15.044 0.804,21.791 C0.804,28.538 6.273,34.006 13.019,34.006 L28.227,34.006 L48.712,34.006 C58.019,34.006 65.565,26.461 65.565,17.154 C65.565,7.846 58.02,0.301 48.713,0.301 L48.713,0.301 Z" fill="#FFFFFF"></path>
                        <path d="M48.713,7.299 C54.147,7.299 58.568,11.72 58.568,17.154 C58.568,22.588 54.147,27.008 48.713,27.008 L28.228,27.008 L13.02,27.008 C10.143,27.008 7.803,24.668 7.803,21.791 C7.803,18.914 10.143,16.573 13.02,16.573 C13.6,16.573 14.172,16.669 14.722,16.858 L19.316,18.44 L22.404,14.689 C23.844,12.94 25.967,11.936 28.228,11.936 C29.548,11.936 30.796,12.265 31.939,12.915 L37.208,15.909 L40.925,11.122 C42.81,8.693 45.649,7.299 48.713,7.299 L48.713,7.299 Z M48.713,0.301 C43.296,0.301 38.48,2.86 35.396,6.831 C33.28,5.629 30.835,4.939 28.227,4.939 C23.705,4.939 19.665,7.004 17,10.242 C15.752,9.812 14.414,9.575 13.019,9.575 C6.273,9.575 0.804,15.044 0.804,21.791 C0.804,28.538 6.273,34.006 13.019,34.006 L28.227,34.006 L48.712,34.006 C58.019,34.006 65.565,26.461 65.565,17.154 C65.565,7.846 58.02,0.301 48.713,0.301 L48.713,0.301 L48.713,0.301 Z" fill="#9E9E9E"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>