<?xml version="1.0" encoding="UTF-8"?>
<svg width="102px" height="81px" viewBox="0 0 102 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-463.000000, -285.000000)">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(463.000000, 155.000000)" id="Shape">
                    <g>
                        <path d="M74.927,0.439 C66.527,0.439 59.058,4.406 54.278,10.565 C50.996,8.701 47.205,7.63 43.161,7.63 C36.148,7.63 29.885,10.833 25.752,15.855 C23.817,15.188 21.742,14.821 19.579,14.821 C9.117,14.821 0.636,23.302 0.636,33.764 C0.636,44.226 9.117,52.707 19.579,52.707 L43.161,52.707 L74.927,52.707 C89.36,52.707 101.06,41.007 101.06,26.574 C101.06,12.139 89.36,0.439 74.927,0.439 L74.927,0.439 Z" fill="#9E9E9E"></path>
                        <path d="M74.927,7.437 C85.478,7.437 94.062,16.021 94.062,26.572 C94.062,37.123 85.478,45.707 74.927,45.707 L43.161,45.707 L19.579,45.707 C12.993,45.707 7.634,40.349 7.634,33.763 C7.634,27.177 12.992,21.819 19.579,21.819 C20.906,21.819 22.216,22.038 23.472,22.471 L28.067,24.055 L31.156,20.302 C34.124,16.696 38.5,14.628 43.162,14.628 C45.845,14.628 48.494,15.327 50.822,16.649 L56.091,19.642 L59.807,14.855 C63.465,10.142 68.977,7.437 74.927,7.437 L74.927,7.437 Z M74.927,0.439 C66.527,0.439 59.058,4.406 54.278,10.565 C50.996,8.701 47.205,7.63 43.161,7.63 C36.148,7.63 29.885,10.833 25.752,15.855 C23.817,15.188 21.742,14.821 19.579,14.821 C9.117,14.821 0.636,23.302 0.636,33.764 C0.636,44.226 9.117,52.707 19.579,52.707 L43.161,52.707 L74.927,52.707 C89.36,52.707 101.06,41.007 101.06,26.573 C101.06,12.139 89.36,0.439 74.927,0.439 L74.927,0.439 L74.927,0.439 Z" fill="#616161"></path>
                    </g>
                    <g transform="translate(10.000000, 63.000000)">
                        <path d="M34.55,5.359 L3.058,5.359 C1.705,5.359 0.609,4.262 0.609,2.91 C0.609,1.557 1.706,0.461 3.058,0.461 L34.55,0.461 C35.903,0.461 36.999,1.558 36.999,2.91 C36.999,4.263 35.902,5.359 34.55,5.359 L34.55,5.359 Z" fill="#676566"></path>
                        <path d="M77.938,5.359 L46.446,5.359 C45.093,5.359 43.997,4.262 43.997,2.91 C43.997,1.557 45.094,0.461 46.446,0.461 L77.938,0.461 C79.29,0.461 80.387,1.558 80.387,2.91 C80.388,4.263 79.291,5.359 77.938,5.359 L77.938,5.359 Z" fill="#616161"></path>
                        <path d="M56.594,17.42 L25.102,17.42 C23.749,17.42 22.653,16.323 22.653,14.971 C22.653,13.618 23.75,12.522 25.102,12.522 L56.594,12.522 C57.946,12.522 59.043,13.619 59.043,14.971 C59.043,16.323 57.946,17.42 56.594,17.42 L56.594,17.42 Z" fill="#676566"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>