<?xml version="1.0" encoding="UTF-8"?>
<svg width="102px" height="101px" viewBox="0 0 102 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-1.000000, -130.000000)" fill="#FFFF00">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(1.000000, 0.000000)">
                    <circle id="Oval" cx="50.967" cy="50.358" r="32.425"></circle>
                    <path d="M53.767,12.685 C53.767,13.394 52.618,13.968 51.202,13.968 L51.202,13.968 C49.785,13.968 48.635,13.394 48.635,12.685 L48.635,1.426 C48.635,0.717 49.785,0.143 51.202,0.143 L51.202,0.143 C52.618,0.143 53.767,0.717 53.767,1.426 L53.767,12.685 L53.767,12.685 Z" id="Shape"></path>
                    <path d="M79.586,25.698 C79.085,26.199 77.866,25.792 76.865,24.791 L76.865,24.791 C75.862,23.789 75.456,22.57 75.957,22.069 L83.918,14.108 C84.419,13.607 85.638,14.014 86.64,15.016 L86.64,15.016 C87.641,16.017 88.048,17.236 87.547,17.737 L79.586,25.698 L79.586,25.698 Z" id="Shape"></path>
                    <path d="M88.641,53.158 C87.932,53.158 87.358,52.008 87.358,50.592 L87.358,50.592 C87.358,49.175 87.932,48.025 88.641,48.025 L99.9,48.025 C100.609,48.025 101.183,49.175 101.183,50.592 L101.183,50.592 C101.183,52.008 100.609,53.158 99.9,53.158 L88.641,53.158 L88.641,53.158 Z" id="Shape"></path>
                    <path d="M75.627,78.977 C75.126,78.476 75.533,77.257 76.534,76.256 L76.534,76.256 C77.536,75.253 78.755,74.847 79.256,75.348 L87.217,83.309 C87.718,83.81 87.311,85.029 86.309,86.031 L86.309,86.031 C85.308,87.032 84.089,87.439 83.588,86.938 L75.627,78.977 L75.627,78.977 Z" id="Shape"></path>
                    <path d="M48.168,88.032 C48.168,87.323 49.317,86.749 50.733,86.749 L50.733,86.749 C52.15,86.749 53.3,87.323 53.3,88.032 L53.3,99.291 C53.3,100 52.151,100.574 50.733,100.574 L50.733,100.574 C49.317,100.574 48.168,100 48.168,99.291 L48.168,88.032 L48.168,88.032 Z" id="Shape"></path>
                    <path d="M22.349,75.019 C22.85,74.518 24.069,74.925 25.07,75.926 L25.07,75.926 C26.072,76.928 26.479,78.147 25.978,78.648 L18.017,86.609 C17.516,87.11 16.297,86.703 15.295,85.701 L15.295,85.701 C14.294,84.7 13.887,83.481 14.388,82.98 L22.349,75.019 L22.349,75.019 Z" id="Shape"></path>
                    <path d="M13.294,47.559 C14.003,47.559 14.577,48.708 14.577,50.124 L14.577,50.124 C14.577,51.541 14.003,52.691 13.294,52.691 L2.035,52.691 C1.326,52.691 0.752,51.541 0.752,50.124 L0.752,50.124 C0.752,48.708 1.326,47.559 2.035,47.559 L13.294,47.559 L13.294,47.559 Z" id="Shape"></path>
                    <path d="M26.307,21.74 C26.808,22.241 26.401,23.46 25.4,24.461 L25.4,24.461 C24.398,25.463 23.179,25.87 22.678,25.369 L14.717,17.408 C14.216,16.907 14.623,15.688 15.625,14.686 L15.625,14.686 C16.626,13.685 17.845,13.278 18.346,13.779 L26.307,21.74 L26.307,21.74 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>