<?xml version="1.0" encoding="UTF-8"?>
<svg width="101px" height="90px" viewBox="0 0 101 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(0.000000, -284.000000)">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(0.000000, 154.000000)" id="Shape">
                    <g>
                        <path d="M74.291,0.71 C65.891,0.71 58.422,4.678 53.642,10.836 C50.36,8.972 46.569,7.901 42.525,7.901 C35.512,7.901 29.249,11.104 25.116,16.126 C23.181,15.459 21.106,15.092 18.943,15.092 C8.481,15.092 -1.42108547e-14,23.573 -1.42108547e-14,34.035 C-1.42108547e-14,44.497 8.481,52.978 18.943,52.978 L42.525,52.978 L74.291,52.978 C88.724,52.978 100.424,41.278 100.424,26.844 C100.424,12.41 88.724,0.71 74.291,0.71 L74.291,0.71 Z" fill="#FFFFFF"></path>
                        <path d="M74.291,7.708 C84.842,7.708 93.426,16.292 93.426,26.843 C93.426,37.394 84.842,45.978 74.291,45.978 L42.525,45.978 L18.943,45.978 C12.357,45.978 6.998,40.62 6.998,34.034 C6.998,27.448 12.356,22.09 18.943,22.09 C20.27,22.09 21.58,22.309 22.836,22.742 L27.431,24.325 L30.52,20.573 C33.488,16.967 37.864,14.899 42.526,14.899 C45.209,14.899 47.858,15.598 50.186,16.92 L55.455,19.913 L59.171,15.126 C62.83,10.412 68.341,7.708 74.291,7.708 L74.291,7.708 Z M74.291,0.71 C65.891,0.71 58.422,4.678 53.642,10.836 C50.36,8.972 46.569,7.901 42.525,7.901 C35.512,7.901 29.249,11.104 25.116,16.126 C23.181,15.459 21.106,15.092 18.943,15.092 C8.481,15.092 -1.42108547e-14,23.573 -1.42108547e-14,34.035 C-1.42108547e-14,44.497 8.481,52.978 18.943,52.978 L42.525,52.978 L74.291,52.978 C88.724,52.978 100.424,41.278 100.424,26.844 C100.424,12.41 88.724,0.71 74.291,0.71 L74.291,0.71 L74.291,0.71 Z" fill="#9E9E9E"></path>
                    </g>
                    <g transform="translate(21.000000, 57.000000)" fill="#00B0FF">
                        <g>
                            <path d="M3.231,19.88 C1.878,19.88 0.782,18.784 0.782,17.431 L0.782,3.038 C0.782,1.685 1.878,0.589 3.231,0.589 C4.584,0.589 5.68,1.686 5.68,3.038 L5.68,17.431 C5.681,18.784 4.584,19.88 3.231,19.88 L3.231,19.88 Z"></path>
                            <path d="M20.552,19.88 C19.199,19.88 18.103,18.784 18.103,17.431 L18.103,3.038 C18.103,1.685 19.2,0.589 20.552,0.589 C21.904,0.589 23.001,1.686 23.001,3.038 L23.001,17.431 C23.001,18.784 21.905,19.88 20.552,19.88 L20.552,19.88 Z"></path>
                            <path d="M37.872,19.88 C36.519,19.88 35.423,18.784 35.423,17.431 L35.423,3.038 C35.423,1.685 36.52,0.589 37.872,0.589 C39.225,0.589 40.321,1.686 40.321,3.038 L40.321,17.431 C40.322,18.784 39.225,19.88 37.872,19.88 L37.872,19.88 Z"></path>
                            <path d="M55.193,19.88 C53.84,19.88 52.744,18.784 52.744,17.431 L52.744,3.038 C52.744,1.685 53.841,0.589 55.193,0.589 C56.546,0.589 57.642,1.686 57.642,3.038 L57.642,17.431 C57.642,18.784 56.546,19.88 55.193,19.88 L55.193,19.88 Z"></path>
                        </g>
                        <g transform="translate(9.000000, 12.000000)">
                            <path d="M2.891,20.09 C1.538,20.09 0.442,18.993 0.442,17.641 L0.442,3.248 C0.442,1.895 1.538,0.799 2.891,0.799 C4.244,0.799 5.34,1.895 5.34,3.248 L5.34,17.641 C5.341,18.993 4.244,20.09 2.891,20.09 L2.891,20.09 Z"></path>
                            <path d="M20.212,20.09 C18.859,20.09 17.763,18.993 17.763,17.641 L17.763,3.248 C17.763,1.895 18.86,0.799 20.212,0.799 C21.565,0.799 22.661,1.895 22.661,3.248 L22.661,17.641 C22.661,18.993 21.565,20.09 20.212,20.09 L20.212,20.09 Z"></path>
                            <path d="M37.533,20.09 C36.18,20.09 35.084,18.993 35.084,17.641 L35.084,3.248 C35.084,1.895 36.181,0.799 37.533,0.799 C38.886,0.799 39.982,1.895 39.982,3.248 L39.982,17.641 C39.982,18.993 38.885,20.09 37.533,20.09 L37.533,20.09 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>