<?xml version="1.0" encoding="UTF-8"?>
<svg width="101px" height="100px" viewBox="0 0 101 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Capa_2" transform="translate(-310.000000, -284.000000)">
            <g id="Group" transform="translate(0.000000, 130.000000)">
                <g transform="translate(310.000000, 154.000000)" id="Shape">
                    <g>
                        <path d="M74.633,0.71 C66.233,0.71 58.764,4.678 53.983,10.836 C50.701,8.972 46.91,7.901 42.867,7.901 C35.854,7.901 29.591,11.104 25.458,16.126 C23.523,15.459 21.448,15.092 19.285,15.092 C8.823,15.092 0.342,23.573 0.342,34.035 C0.342,44.497 8.823,52.978 19.285,52.978 L42.867,52.978 L74.633,52.978 C89.066,52.978 100.766,41.278 100.766,26.844 C100.766,12.41 89.066,0.71 74.633,0.71 L74.633,0.71 Z" fill="#FFFFFF"></path>
                        <path d="M74.633,7.708 C85.184,7.708 93.768,16.292 93.768,26.843 C93.768,37.394 85.184,45.978 74.633,45.978 L42.867,45.978 L19.285,45.978 C12.699,45.978 7.34,40.62 7.34,34.034 C7.34,27.448 12.698,22.09 19.285,22.09 C20.612,22.09 21.922,22.309 23.178,22.742 L27.773,24.325 L30.862,20.573 C33.83,16.967 38.206,14.899 42.868,14.899 C45.551,14.899 48.2,15.598 50.527,16.92 L55.796,19.913 L59.512,15.126 C63.171,10.412 68.683,7.708 74.633,7.708 L74.633,7.708 Z M74.633,0.71 C66.233,0.71 58.764,4.678 53.983,10.836 C50.701,8.972 46.91,7.901 42.867,7.901 C35.854,7.901 29.591,11.104 25.458,16.126 C23.523,15.459 21.448,15.092 19.285,15.092 C8.823,15.092 0.342,23.573 0.342,34.035 C0.342,44.497 8.823,52.978 19.285,52.978 L42.867,52.978 L74.633,52.978 C89.066,52.978 100.766,41.278 100.766,26.844 C100.766,12.41 89.066,0.71 74.633,0.71 L74.633,0.71 L74.633,0.71 Z" fill="#9E9E9E"></path>
                    </g>
                    <path d="M49.887,99.09 C43.685,99.09 38.639,94.044 38.639,87.841 C38.639,81.638 43.685,76.592 49.887,76.592 C56.089,76.592 61.136,81.638 61.136,87.841 C61.136,94.044 56.09,99.09 49.887,99.09 L49.887,99.09 Z M49.887,83.591 C47.543,83.591 45.637,85.498 45.637,87.841 C45.637,90.185 47.544,92.092 49.887,92.092 C52.231,92.092 54.137,90.185 54.137,87.841 C54.138,85.497 52.231,83.591 49.887,83.591 L49.887,83.591 Z" fill="#9E9E9E"></path>
                    <g transform="translate(19.000000, 55.000000)" fill="#9E9E9E">
                        <path d="M11.69,22.783 C5.487,22.783 0.441,17.737 0.441,11.534 C0.441,5.331 5.487,0.285 11.69,0.285 C17.893,0.285 22.939,5.331 22.939,11.534 C22.939,17.737 17.893,22.783 11.69,22.783 L11.69,22.783 Z M11.69,7.283 C9.346,7.283 7.44,9.19 7.44,11.534 C7.44,13.878 9.347,15.784 11.69,15.784 C14.033,15.784 15.94,13.877 15.94,11.534 C15.941,9.19 14.034,7.283 11.69,7.283 L11.69,7.283 Z"></path>
                        <path d="M50.084,22.783 C43.881,22.783 38.836,17.737 38.836,11.534 C38.836,5.331 43.882,0.285 50.084,0.285 C56.286,0.285 61.333,5.331 61.333,11.534 C61.333,17.737 56.287,22.783 50.084,22.783 L50.084,22.783 Z M50.084,7.283 C47.741,7.283 45.834,9.19 45.834,11.534 C45.834,13.878 47.741,15.784 50.084,15.784 C52.428,15.784 54.335,13.877 54.335,11.534 C54.335,9.19 52.428,7.283 50.084,7.283 L50.084,7.283 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>