<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>weather-color_moon-cloud-light</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="weather-color_moon-cloud-light">
            <g id="Group">
                <path d="M33,26 C25.83203,26 20,20.16846 20,13 C20,5.83154 25.83203,0 33,0 L34,0 L34,1 C34,7.06543 38.93457,12 45,12 L46,12 L46,13 C46,20.16846 40.16797,26 33,26 L33,26 Z" id="Shape" fill="#EFD358"></path>
                <path d="M37,36 L9,36 C4.0376,36 0,31.96289 0,27 C0,22.03711 4.0376,18 9,18 C9.81201,18 10.62305,18.11523 11.42188,18.34375 C13.49805,14.46191 17.55566,12 22,12 C26.72412,12 30.96289,14.7666 32.90088,18.99805 C34.16895,18.3418 35.56543,18 37,18 C41.9624,18 46,22.03711 46,27 C46,31.96289 41.9624,36 37,36 L37,36 Z" id="Shape" fill="#666666"></path>
                <path d="M29.90586,32.57617 C29.74131,32.22461 29.38828,32 29.0001,32 L22.47715,32 L25.92881,23.37109 C26.11143,22.91504 25.93467,22.39257 25.51231,22.14062 C25.08995,21.8916 24.54698,21.98339 24.23204,22.35937 L14.23204,34.35937 C13.9835,34.6582 13.92979,35.07324 14.09434,35.42382 C14.25889,35.77539 14.61192,36 15.0001,36 L21.52305,36 L18.07139,44.62891 C17.88877,45.08496 18.06553,45.60743 18.48789,45.85938 C18.64756,45.9541 18.82432,46 18.99961,46 C19.28818,46 19.57236,45.875 19.76816,45.64062 L29.76816,33.64062 C30.0167,33.3418 30.07041,32.92676 29.90586,32.57617 L29.90586,32.57617 Z" id="Shape" fill="#EFD358"></path>
            </g>
        </g>
    </g>
</svg>